#!/usr/bin/env bash

function set_blobstore_credentials() {
  if [ -d ~/workspace/credhub-deployments ] && [ ! -e ~/workspace/credhub-release/config/private.yml ]; then
    echo "credhub-release blobstore yml not detected - generating now 🤖"

    (
      source ~/workspace/credhub-deployments/scripts/login_concourse_credhub && \
      local -r access_key=$(credhub get -n /concourse/main/blobstore_access_key -k username) && \
      local -r secret_key=$(credhub get -n /concourse/main/blobstore_access_key -k password) && \
      cat >~/workspace/credhub-release/config/private.yml <<EOF
---
blobstore:
  options:
    access_key_id: $access_key
    secret_access_key: $secret_key
EOF
    )
  fi
}

function main() {
  set_blobstore_credentials
}

main
