#!/usr/bin/env bash

function set_blobstore_credentials() {
  if [ -d ~/workspace/credhub-deployments ] && [ ! -e ~/workspace/credhub-release/config/private.yml ]; then
    echo "credhub-release blobstore yml not detected - generating now 🤖"

    (
      source ~/workspace/credhub-deployments/scripts/login_concourse_credhub && \
      local -r gcp_json_key=$(credhub get -n /concourse/main/gcp_json_key -k) && \
      cat >~/workspace/credhub-release/config/private.yml <<EOF
---
blobstore:
  provider: gcs
  options:
    credentials_source: static
    json_key: '${gcp_json_key}'
EOF
    )
  fi
}

function main() {
  set_blobstore_credentials
}

main
