[submodule "src/cm"]
	path = src/cm
	url = git@github.com:pivotal-cf/sec-eng-credential-manager.git
[submodule "src/credhub"]
	path = src/credhub
	url = git@github.com:pivotal-cf/sec-eng-credential-manager.git
